.host-wrapper {
    display: relative;


}

.host-bg-image {
    z-index: -999;
    margin: 0 auto;
    display: absolute;
    top: 0;
    left: 0;
}

.host-canvas-wrapper {
    position: relative;
}

.host-canvas {
    z-index: 999;
    margin: 0 auto;
    display: absolute;
    top: 0;
    left: 0;
}

.overlay {
    width: 40rem;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -20rem;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.overlay2 {
    width: 20rem;
    border: 1px solid black;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -10rem;
    text-align: center;
}

.overlay3 {
    width: 20rem;
    border: 1px solid black;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -10rem;
    text-align: center;
}

.start-game-button {
    width: 20rem;
    border: 1px solid black;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -10rem;
    text-align: center;
}

.score-overlay2 {
    width: 30rem;
    border: 1px solid black;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -10rem;
    text-align: center;
}
